<div class='container-fluid'>
  <div class='row'>
    <p class='col-7 col-sm-8 font-weight-bold'>Bachelor of Science in Computer Science</p>
    <p class='col-5 col-sm-4 text-secondary text-right'>May 2017</p>
  </div>
  <div class='row'>
    <p class='col-12'>University of Maine, Orono</p>
  </div>
  <br>
  <div class='row'>
    <p class='col-12 font-weight-bold'>Relevant Coursework and Skills</p>
  </div>
  <div>
    <ul>
      <li>Languages</li>
      <ul>
        <li>Java</li>
        <li>Python</li>
        <li>C</li>
        <li>Groovy</li>
        <li>JavaScript</li>
      </ul>
      <li>Tools</li>
      <ul>
        <li>Git/Github</li>
        <li>LaTeX</li>
        <li>Eclipse</li>
        <li>IntelliJ</li>
      </ul>
      <li>Other</li>
      <ul>
        <li>Kivy</li>
        <li>Maven</li>
        <li>National Cyber League</li>
        <li>Django</li>
        <li>Bootstrap</li>
      </ul>
    </ul>
  </div>
  <br>
  <div class='row'>
    <p class='col-6 font-weight-bold'>Capstone</p>
    <small class='col-6 text-secondary text-right'>Github:<a target="_blank" href='https://github.com/kevinrlewis/capstone'>/kevinrlewis/capstone</a></small>
  </div>
  <div class='row'>
    <p class='col-12'>The New Cryptographic Application</p>
    <p class='col-12 font-italic'>The Code Book, written by Simon Singh, was created to explain the history and basics of cryptography. Due to the popularity of The Code Book, Simon Singh distributed an application to help people learn about cryptography through exercises and interactive tools. The goal of the project was to rewrite the application because the application is not usable within modern systems and can only run older operating systems. I was unable to obtain the source code of the original application so I needed to re-implement the application from scratch.</p>
  </div>
</div>
