.navbar {
  background-color: #904E55;
}

.navbar * {
  color: #F2EFE9;
}

.navbar>#navbarSupportedContent>.navbar-nav>.nav-item>a:hover {
  color: #BFB48F;
}

.navbar-toggler {
  background-color: #252627;
  color: #F2EFE9;
}

@media (min-width: 576px) {
  #navbarSupportedContent {
    max-height: inherit!important;
    opacity: 1!important;
  }
}

.linkedin-link {
  color: #F2EFE9;
}
