<nav (window:resize)="onResize()" class='navbar navbar-expand-sm' style='margin-bottom: 1em;'>
  <button class="navbar-toggler" type="button" ng-init="isCollapsed = true" (click)='isCollapsed = !isCollapsed' aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
      <fa name="bars" size="lg" aria-hidden="true"></fa>
  </button>
  <!-- <div class='navbar-collapse' id='navbarSupportedContent' [@openClose]="isCollapsed ? 'closed' : 'open'" [ngClass]="{'collapse': isCollapsed}"> -->
  <div class='navbar-collapse' id='navbarSupportedContent' [@openClose]="((isCollapsed ? 'closed' : 'open'))">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class='col-3 col-sm nav-link' (click)='isCollapsed = !isCollapsed' routerLink='/'>Blog</a>
      </li>
      <li class='nav-item'>
        <a class='col-3 col-sm nav-link' (click)='isCollapsed = !isCollapsed' routerLink='/apps'>Apps</a>
      </li>
      <li class='nav-item'>
        <a class='col-3 col-sm nav-link' (click)='isCollapsed = !isCollapsed' routerLink='/experience'>Experience</a>
      </li>
      <li class='nav-item'>
        <a class='col-3 col-sm nav-link' (click)='isCollapsed = !isCollapsed' routerLink='/education'>Education</a>
      </li>
    </ul>
  </div>
  <a href="https://www.linkedin.com/in/kevin-lewis-6887348b" target="_blank">
    <fa class="linkedin-link" name="linkedin-square" size="2x" aria-hidden="true"></fa>
  </a>
</nav>

<!-- <script js>
$('.navbar-nav>li>a').on('click', function(){
    $('.navbar-collapse').collapse('hide');
});
</script> -->
