<div class='container-fluid'>
  <div class='row'>
    <p class='col-6 col-sm-8 font-weight-bold'>Associate Data Engineer</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Feb 2018 - Present</p>
  </div>
  <div class='row'>
    <p class='col-6 col-sm-8'>VetsFirstChoice</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Portland, ME</p>
  </div>
  <div class='row'>
    <ul>
      <li>Designed and developed ETL/ELT jobs to support teams company wide</li>
      <li>Utilized various database languages to load data into a central data warehouse</li>
      <li>Monitored and supported a full incremental load schedule along with streaming processes</li>
    </ul>
  </div>
  <div class='row ext text-secondary text-center'>
    <ul class='col-12 list-inline'>
      <li class="list-inline-item">Java</li>
      <li class="list-inline-item">Talend</li>
      <li class="list-inline-item">MySql/SQL</li>
      <li class="list-inline-item">SqlServer/TSQL</li>
      <li class="list-inline-item">Redshift</li>
      <li class="list-inline-item">Apache Kafka</li>
      <li class="list-inline-item">git/Github</li>
      <li class="list-inline-item">AWS EC2</li>
      <li class="list-inline-item">AWS Redshift</li>
      <li class="list-inline-item">Salesforce/SOQL</li>
      <li class="list-inline-item">Jira/Scrum</li>
    </ul>
    <!-- <small class="col-2">Java</small>
    <small class="col-2">Talend</small>
    <small class="col-2">MySql/SQL</small>
    <small class="col-2">SqlServer/TSQL</small>
    <small class="col-2">Redshift</small>
    <small class="col-2">Apache Kafka</small>
    <small class="col-2">git/Github</small> -->
  </div>
  <hr class='w100'>
  <div class='row'>
    <p class='col-6 col-sm-8 font-weight-bold'>Junior Software Engineer <small><i>Secret Clearance</i></small></p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Sept 2017 - Feb 2018</p>
  </div>
  <div class='row'>
    <p class='col-6 col-sm-8'>ArdentMC</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Herndon, VA</p>
  </div>
  <div class='row'>
    <ul>
      <li>Developed automated tests for an API, a standardized data format library, and a mobile app</li>
      <li>Used Jenkins to continuously integrate the tests into the build</li>
      <li>Managed AWS servers for a variety of different hosting tools</li>
      <li>Researched and outlined the benefits of different data standards to be used for the team's product</li>
    </ul>
  </div>
  <div class='row ext text-secondary text-center'>
    <ul class='col-12 list-inline'>
      <li class="list-inline-item">C#</li>
      <li class="list-inline-item">JavaScript</li>
      <li class="list-inline-item">NodeJS</li>
      <li class="list-inline-item">Angular 6</li>
      <li class="list-inline-item">Appium</li>
      <li class="list-inline-item">Jenkins</li>
      <li class="list-inline-item">AWS EC2</li>
      <li class="list-inline-item">Xamarin</li>
      <li class="list-inline-item">Visual Studio</li>
      <li class="list-inline-item">Jira/Scrum</li>
    </ul>
  </div>
  <hr class='w100'>
  <div class='row'>
    <p class='col-6 col-sm-8 font-weight-bold'>Quality Assurance Engineer Intern</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>May 2016 - Aug 2016</p>
  </div>
  <div class='row'>
    <p class='col-6 col-sm-8'>L.L. Bean</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Freeport, ME</p>
  </div>
  <div class='row'>
    <ul>
      <li>Assisted with automating test cases using Selenium and Java</li>
      <li>Created a graphing tool for JIRA that reported status depending on launch</li>
      <li>Utilized the SCRUM agile methodology to manage progress</li>
    </ul>
  </div>
  <div class='row ext text-secondary text-center'>
    <ul class='col-12 list-inline'>
      <li class="list-inline-item">Java</li>
      <li class="list-inline-item">JavaScript</li>
      <li class="list-inline-item">Selenium</li>
      <li class="list-inline-item">Jenkins</li>
      <li class="list-inline-item">GraphJS</li>
      <li class="list-inline-item">Jira/Scrum</li>
    </ul>
  </div>
  <hr class='w100'>
  <div class='row'>
    <p class='col-6 col-sm-8 font-weight-bold'>Customer Service Representative</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>June 2015 - Aug 2015</p>
  </div>
  <div class='row'>
    <p class='col-6 col-sm-8'>Boston Financial</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Rockland, ME</p>
  </div>
  <div class='row'>
    <ul>
      <li>Assisted clients with various 529 plan inquiries</li>
    </ul>
  </div>
  <hr class='w100'>
  <div class='row'>
    <p class='col-6 col-sm-8 font-weight-bold'>Junior Software Engineer</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>June 2012 - July 2012</p>
  </div>
  <div class='row'>
    <p class='col-6 col-sm-8'>SimIS Inc.</p>
    <p class='col-6 col-sm-4 text-secondary text-right'>Portsmouth, VA</p>
  </div>
  <div class='row'>
    <ul>
      <li>XAML and C# programming language utilization</li>
      <li>Collaboratively assisted in the development of the Automated Intelligence Mentoring System (AIMS), a virtual training and evaluation software</li>
    </ul>
  </div>
  <div class='row ext text-secondary text-center'>
    <ul class='col-12 list-inline'>
      <li class="list-inline-item">C#</li>
      <li class="list-inline-item">XAML</li>
    </ul>
  </div>
</div>
