.btn {
  border-radius: 0;
  margin-top: 0.3em;
}

#title {
  border-radius: 0;
  /* border-top: 5px solid #222; */
}

#title:focus {
  /* border-color: #008000; */
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.create-post-form > * {
  margin: 0 auto;
  margin-bottom: 0.8em;
}

.btn-submit {
  background-color: #FFFFFF;
}

.btn-close {
  background-color: #FFFFFF;
}

.btn-submit:hover {
  background-color: #008000;
}

.btn-close:hover {
  background-color: #B22222;
}

quill-editor {
  background-color: #FFFFFF;
}
