.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.mod-modal-window .model-dialog .model-content {
  border-radius: 0;
}

#postButton {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  border: 1px solid rgba(255,255,255,1);
  color: #FFFFFF;
  background-color: transparent;
}

#postButton:hover {
  background-color: blue;
}

.modal-title {
  color: #222;
}
