<div class='container-fluid'>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign in</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="postForm">
      <div class="modal-body">
        {{diagnostic}}
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" id="username" name="username" placeholder="Username"
            required
            formControlName="username">
          </div>
          <br>
          <div class="form-group">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password"
            required
            formControlName="password">
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="c('Submit click'); onSubmit()">Submit</button>
    </div>
  </ng-template>
</div>
<!-- <app-create-post *ngIf="auth_success" [userid]="userid"></app-create-post> -->
<app-create-post [userid]="userid"></app-create-post>
<app-post-display></app-post-display>
<button *ngIf="!auth_success" class='btn btn-outline-dark btn-circle' id='postButton' (click)="open(content)">
  <fa name="pencil" aria-hidden="true"></fa>
</button>
<pre>{{closeResult}}</pre>
